@charset "UTF-8";

@font-face {
    font-family: porson;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/GFSPorson-Regular.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/charter_regular.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
    src: url('fonts/charter_italic.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/charter_bold.woff2') format('woff2');
}

@font-face {
    font-family: charter;
    font-style: italic;
    font-weight: bold;
    font-stretch: normal;
    src: url('fonts/charter_bold_italic.woff2') format('woff2');
}

@font-face {
    font-family: cooperhewitt;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
    src: url('fonts/CooperHewitt-Semibold.woff') format('woff');
}

html {
    font-size: 13px;
}

body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    font-family: charter, serif;
    background-color: #fffff8;
    color: #111;
}

#logo {
    font-family: cooperhewitt, sans;
    font-weight: 600;
    font-size: 2rem;
    border: 4px solid #111;
    padding: 6px;
    float: right;
    margin-left: 3rem;
}

#nav {
    font-family: cooperhewitt, sans;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1rem;
    position: fixed;
    right: 2rem;
    top: 2rem;
    background: #fffff875;
    z-index: 1;
}

#nav > span {
    margin-left: 1.5rem;
    position: relative;
    top: 14px;
}

#nav > span.link:hover, #nav > span.current-view {
    cursor: pointer;
    border-bottom: 3px solid #111;
}

#nav > span.dis:hover {
    pointer-events: none;
    cursor: default;
}

#nav > span.dis {
    color:#ddd;
}

/* Adds dark mode 
@media (prefers-color-scheme: dark) {
    body {
        background-color: #151515;
        color: #ddd;
    }
    #logo {
        border-color:#ddd;
    }
} */

h1 {
    font-weight: 400;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-size: 3.2rem;
    line-height: 1;
}

h2 {
    font-style: italic;
    font-weight: 400;
    margin-top: 2.1rem;
    margin-bottom: 1.4rem;
    font-size: 2.2rem;
    line-height: 1;
}

h3 {
    font-weight: 400;
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: .7rem;
    line-height: 1;
}

article {
    padding: 5rem 0rem;
    display: grid;
    grid-template-areas:    "title title title"
                            "greek english comments";
    grid-auto-columns: 485px 525px 1fr;
    grid-template-rows: auto 1fr;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}


#greek {
    font-family: porson, serif;
    grid-area: greek;
}

#english {
    grid-area: english;
}
#title {
    grid-area: title;
}

#comments {
    grid-area: comments;
}

#comments p {
    font-size: 1.1rem;
    line-height: 1.5rem;
    max-width: 30rem;
    background: wheat;
    padding: .5rem .9rem;
    margin-right: 1rem;
    display: none;
}

#comments p br{
    margin-bottom:.5rem;
}

#comments p:after {
    content: "";
    position: absolute;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-top: 15px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid wheat;
    top: 15px;
    left: -27px;
}

#english p,.stephanus,#greek {
    font-size: 1.4rem;
    line-height: 2rem;
}

#english .stephanus{
    display: none;
}

#greek .stephanus{
    font-size: 1.2rem;
    padding-top: 2px;
}

#greek .hl{
    padding: 2px 0px;
}

.hl{
    background: #ffe4c48f;
}

.hl:hover, .hl.hovered, .current{
    background: wheat!important;
    cursor: pointer;
}

p {
    margin-top: .7rem;
    margin-bottom: 1.4rem;
    padding-right: 2rem;
    vertical-align: baseline;
}

span.stephanus {
    margin-left:-7rem;
    float:left;
    text-align:right;
    width:6rem;
}

a:link,a:visited {
    color: inherit;
}
