


<div id="nav">
  <div id="logo">OPP</div>
  <span id="nav-greek" class="link current-view">Greek</span
  ><span>&middot;</span><span id="nav-frs" class="link">First Read</span
  ><span style="margin: 0 0.3rem">/</span>
  <span id="nav-sch" class="link current-view" style="margin-left: -0.2rem"
    >Scholarly</span
  ><span>&middot;</span
  ><span id="nav-comments" class="link current-view">Commentary</span>
</div>