---
import { getEntry } from "astro:content";
import PageLayout from "../layouts/page-layout.astro";
import DialogContainer from "../components/dialog-container";
import ShowDropdown from "../components/show-dropdown";
import { fetchTranslations } from "../utils";

const { EN, EL } = await fetchTranslations("alcibiades-one");
---

<PageLayout>
  <h1>Dialog Test</h1>
  <ShowDropdown client:load />
  <main>
    <DialogContainer EN={EN} EL={EL} client:load />
  </main>
</PageLayout>
