---
import type { InferEntrySchema } from "astro:content";
import { collections } from "../content/config";

interface Props {
    collection: InferEntrySchema<"dialogs">;
}
const { collection } = Astro.props;
---

{
    Object.entries(collection).map(([key, val]: [string, unknown]) => (
        <article id={key}>
            {Object.entries(val as string).map(
                ([key, val]: [string, unknown]) => (
                    <section class={key}>
                        {(val as string)
                            .replace(/[\t\`]/g, "")
                            .split(/ /)
                            .join(" ")
                            .trim()}
                    </section>
                ),
            )}
        </article>
    ))
}
