---
interface Props {
    collection: Record<string, Record<string, string>>;
}
const { collection } = Astro.props;
---

{
    Object.entries(collection).map(([key, val]) => (
        <article id={key}>
            {Object.entries(val).map(([key, val]) => (
                <section class={key}>
                    {val
                        .replace(/[\t\`]/g, "")
                        .split(/ /)
                        .join(" ")
                        .trim()}
                </section>
            ))}
        </article>
    ))
}
