---
import { getEntry } from "astro:content";
const alcibiades = await getEntry("dialogs", "Alcibiades_a/Original");
const blondell = await getEntry("dialogs", "Alcibiades_a/Blondell");
---

{alcibiades !== undefined}
<PageLayout>
    <div slot="page_1">
        {
            Object.entries(alcibiades.data).map(([key, value]) => (
                <article id={key}>
                    {Object.entries(value).map(([key, value]) => (
                        <section class={key}>
                            {value.replace(/\`/g, "")}
                        </section>
                    ))}
                </article>
            ))
        }
    </div>
    <div slot="page_2">
        {
            Object.entries(blondell.data).map(([key, value]) => (
                <article id={key}>
                    {Object.entries(value).map(([key, value]) => (
                        <section class={key}>
                            {value.replace(/\`/g, "")}
                        </section>
                    ))}
                </article>
            ))
        }
    </div>
</PageLayout>
