---
// import { getCollection } from "astro:content";
// const dialogs = await getCollection("dialogs", ({ id }) => {
//     return id.startsWith("en/");
// });
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" href="/css/Stephanus.css" />
        <title>Astro</title>
    </head>
    <body>
        <header>
            <slot name="search" />
        </header>
        <h1>Dialog Test</h1>
        <main>
            <slot />
        </main>
    </body>
</html>
